{% extends "virt_tours/base_menu.html" %}
{% load staticfiles %}
{% block title %}Home - {% endblock %}
{% block menulinks %}
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
{% endblock %}
{% block pagebody %}
        <!-- Body -->
        <div class="container sitebody">
            <div class="well shadow">
                <h2>Welcome to PiBot!</h2>
            </div>
        </div>
{% endblock %}
