.sitebody {
    margin-top:75px;
}

body {
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #517275 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #517275 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #517275 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 500, color-stop(0, #FFFFFF), color-stop(1, #517275));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #517275 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle closest-corner at center, #FFFFFF 0%, #517275 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
}

.openid {
    max-width: 460px;
}

#picon {
    position:fixed;
    top:735px;
    right:20px;
}

.registration2 {
    max-width: 400px;
    margin-top: 50px;
}

.registration {
    max-width: 400px;
    margin:0 auto;
}

.login-dialog {
    max-width: 500px;
    margin:0 auto;
}

.login-dialog2 {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
}

.carousel {
    margin-top: 40px;
}

.centered-item {
    text-align: center;
    img {
    margin: 0 auto;
}

.my-carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.my-carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.my-carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #ffffff;
}

div.shadow {
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black; 
    box-shadow: 0 0 10px black;
}

div.shadow2 {
    -webkit-box-shadow: -5px 5px 2.5px black;
    -moz-box-shadow: -5px 5px 2.5px black; 
    box-shadow: -5px 5px 2.5px black;
}
