.sitebody {
    margin-top:75px;
}

.openid {
    max-width: 460px;
}

.login-dialog {
    max-width: 500px;
    margin:0 auto;
}

.carousel {
    margin-top: 40px;
}

.my-carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.my-carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.my-carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #ffffff;
}

.shadow {
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.centered-item {
    text-align: center;
    img {
    margin: 0 auto;
}

.edit-btn {
    max-width: 105px;
}
