{% extends "base.html" %}

{% block body %}
{% include 'flash.html' %}
<div class="container sitebody">
  <div class="well shadow">
    <h2> Welcome to PiBot! </h2>
    <div id="carousel-example-generic" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/img/PiBot.png" alt="...">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <div class="centered-item">
            <img src="../static/img/raspberrycolor.png" alt="...">
            <div class="carousel-caption">
              <h3> This is some sample text. </h3>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="centered-item">
            <img src="../static/img/raspberryink.png" alt="...">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div> 
    <h3> About PiBot </h3>
      <p>
      Add some text about the premise of the project along with some of our
      goals.
      </p>
  </div>
</div>

<script>
  $('.carousel').carousel()
</script>
{% endblock %}
