{% extends "base.html" %}

{% block body %}
{% include 'flash.html' %}
<div class="container sitebody">
  <div class="well shadow">
    <h2> Welcome to PiBot! </h2>
    <div id="carousel-example-generic" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="centered-item">
            <img src="../static/img/pibot1.jpg" alt="...">
            <div class="carousel-caption">
              <a class="btn btn-default" href="gallery.html";">Gallery</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="centered-item">
            <img src="../static/img/pibot2.jpg" alt="...">
            <div class="carousel-caption">
              <h3> This is some sample text. </h3>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="centered-item">
            <img src="../static/img/pibot3.jpg" alt="...">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="centered-item">
            <img src="../static/img/pibot4.jpg" alt="...">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div> 
    <h3> The Goals of PiBot </h3>
      <p style="text-indent: 40px">
      In an attempt to understand how crucial the AI industry is to
      technological progression, we will
      try to create a robot centered on a goal-based agent that uses a knowledge
      base to infer its partially
      observable environment. In order to give the project structure, we have
      created general deadlines for
      production. The measure of completion will occur at the end of each month.
      For September, the
      hardware components for the robot should be installed and a basic website
      is running that allows users
      to login and request controller accounts. For October, the website should
      have a more polished look and
      the robot will be able to accept movement commands from the web
      application. For November, we will
      finalize key features of the web application and begin AI programming. The
      specifics of this aspect are
      unclear and as of now the task environment is about the only concrete
      knowledge we have. And finally
      December, the robot and the website should be completely functional with
      limited components of AI
      potentially working. In the New Year, the completed robot will fill the
      role of a virtual tour guide that
      will allow remote connection to control it. All of this while avoiding
      potentially hazardous situations that
      would inhibit movement.
      </p>
    <h3> About the Developers </h3>
      <p style="text-indent: 40px">
      Tim Sizemore & Andriy Rudyk are seniors at Western Carolina University and both
      are pursuing Bachelor Degrees in Computer Science. Tim enjoys competitive
      sports, physics, and reading non-fiction. Andriy can write his own one
      line description.
      </p>
  </div>
</div>

<script>
  $('.carousel').carousel()
</script>
{% endblock %}
