{% extends "base.html" %}
{% block body %}
{% include 'flash.html' %}
<div class="container sitebody well shadow">
    <div class="controls" id="edit_button">
        <input id="edit-btn" class="btn btn-primary pull-right" onclick="location.href='{{url_for('edit')}}';" value="Edit Profile">
    </div>
    <div class="profile_pic" style="float:left;">
        <img src="{{ user.avatar(85)}}">
        <h2>{{user.nickname}}</h2>
        {% if user.id == g.user.id %}
        {% endif %}
    </div>
</div>
{% endblock %}
